

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40em;
    width: 60em;
    background-color: orchid;
}

.contenedorCoche {
    height: 8em;
    width: 12em;
}

.contenedorCoche2 {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}


#contenedorTexto {
    font-size: 2em;
}